<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<head>
    <title>Set Redirect</title>
</head>
<body>
<form action="/redirect" method="post">
    <input type="text" name="url" value="<%= options.redirect_url %>"/>
    <input type="submit" value="OK"/>
</form>
</body>
</html>